.Automotive-custom { 
    background-color: rgb(25, 25, 112) !important;
    color: white !important; }
.Bills-custom { 
    background-color: rgb(0, 255, 255) !important;
    color: black !important;}
.Entertainment-custom { 
    background-color: rgb(255, 0, 150) !important; 
    color: black !important;}
.Food-custom { 
    background-color:rgb(0, 102, 102) !important; 
    color: white !important;} 
.Gifts-custom { 
    background-color: rgb(235, 200, 165) !important; 
    color: black !important;} 
.Groceries-custom { 
    background-color: rgb(255, 182, 193) !important; 
    color: black !important;}
.Health-custom { 
    background-color:rgb(54, 69, 79) !important; 
    color: white !important;
}
.Home-custom { 
    background-color: rgb(0, 200, 83) !important; 
    color: black !important;}
.Miscellaneous-custom { 
    background-color:rgb(255, 193, 7) !important; 
    color: black !important;}
.Travel-custom { 
    background-color:rgb(200, 150, 255) !important; 
    color: black !important;}

.category-tag-spacing {
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .3rem;
    padding-bottom: .3rem;
    border-radius: .5rem;
}

.carousel-indicators {
    bottom: -30px;
  }